venv/
data/processed/hounsfield/
data/processed/windowed/
data/processed/brain_extracted/
data/backup_/
data/oasis/
data/processed/processed_masks/
data/processed/sliced_brain_extracted/
/GM
.dvc/config.local
data/test_current_data/
data/test_new_data/
backup/ 
test_new_data/*
test_current_data/*